<?php

use App\handlers\api\ConverterApi;
use App\handlers\Site;


$config = [
    "db" => [
        "host" => "localhost",
        "port" => 3306,
        "user" => "root",
        "password" => "",
        "dbname" => "converter"
    ],
    "routes" => [
        //http://e2-e4-test-task/api
        [
            "uri"=>"/api",
            "controller"=>ConverterApi::class,
            "action"=>"index"
        ],
        //http://e2-e4-test-task/api/convert
        [
            "uri"=>"/api/convert",
            "controller"=>ConverterApi::class,
            "action"=>"convert"
        ],
        //http://e2-e4-test-task/api/get-history-course
        [
            "uri"=>"/api/get-history-course",
            "controller"=>ConverterApi::class,
            "action"=>"getHistoryChangeCourse"
        ],
        //http://e2-e4-test-task/docs
        [
            "uri"=>"/docs",
            "controller"=>Site::class,
            "action"=>"docs"
        ],
    ],
    "console" => [
        "routes" => [
            //php command.php -c update-courses
            [
                "command"=>"update-courses",
                "controller"=>\App\console\UpdateCourses::class,
                "action"=>"updateCourses"
            ],
            //php command.php -c clear-courses-valutes
            [
                "command"=>"clear-courses-valutes",
                "controller"=>\App\console\UpdateCourses::class,
                "action"=>"clearCoursesValutes"
            ],
        ]
    ]
];

return $config;